canvasapi==3.2.0
Click==8.1.7
colorama==0.4.6
cryptography==46.0.6
email-validator==2.1.1
fastapi==0.115.6
firebase-admin==6.5.0
functions-framework==3.5.0
guacamole-api-wrapper
google-api-core==2.18.0
google-api-python-client==2.123.0
google-auth==2.29.0
google-cloud-billing==1.15.0
google-cloud-compute
google-cloud-datastore==2.19.0
google-cloud-error-reporting==1.10.0
google-cloud-firestore==2.19.0
google-cloud-iam==2.17.0
google-cloud-logging==3.10.0
google-cloud-pubsub==2.21.0
google-cloud-resource-manager==1.14.0
google-cloud-runtimeconfig
google-cloud-secret-manager
google-cloud-storage==2.16.0
google-cloud-quotas==0.1.18
httpx==0.28.0
MarkupSafe==2.1.5
netaddr==1.2.1
openai==1.57.1
paramiko==3.5.0
psutil==5.9.8
pyAesCrypt==6.1.1
PyJWT==2.8.0
PyMySQL==1.1.1
pydantic==2.4.2
pytest==8.3.3
pytest-asyncio==0.25.0
pytest-order==1.3.0
python-dotenv==1.0.1
python-multipart==0.0.22
PyYAML==6.0.1
sendgrid==6.11.0
starlette==0.49.1
tzdata==2025.1
uvicorn==0.32.1
validators==0.22.0
jwcrypto==1.5.6
requests~=2.33.0
pytz~=2024.2
flask~=3.0.2
werkzeug~=3.1.6