canvasapi==3.2.0
cryptography==46.0.7
functions-framework==3.5.0
google-api-core==2.18.0
google-api-python-client==2.123.0
google-auth==2.29.0
google-cloud-compute
google-cloud-datastore==2.19.0
google-cloud-error-reporting==1.10.0
google-cloud-firestore==2.19.0
google-cloud-logging
google-cloud-pubsub==2.21.0
google-cloud-runtimeconfig
google-cloud-secret-manager
google-cloud-storage==2.16.0
netaddr==1.2.1
pydantic==2.4.2
PyMySQL==1.1.1
PyYAML==6.0.1
sendgrid==6.11.0
